<div class="flex justify-between items-center md:mb-8">
  <h1 class="text-3xl">Enrollment Detail</h1>
</div>

<ng-container *ngIf="listOfData.length > 0">
  <app-table
    [editableColumn]="editableColumn"
    [header]="listOfColumn"
    [tableData]="listOfData"
    (deletePoliy)="onDelete($event)"
    (UpdatedPoliy)="onUpdate($event)"
  ></app-table>
</ng-container>

<nz-alert
  nzType="error"
  *ngIf="errorMessage.length > 0"
  nzCloseable
  nzDescription="{{ errorMessage }}"
  nzMessage="error"
  nzShowIcon
  class="fixed top-3 right-3"
></nz-alert>
<nz-alert
  *ngIf="responseMessage.length > 0"
  nzCloseable
  nzType="success"
  nzMessage="Success "
  nzDescription="{{ responseMessage }}"
  nzShowIcon
  class="fixed top-3 right-3"
></nz-alert>
