<nz-table
  #nzTable
  [nzLoading]="isloading"
  [nzData]="listOfDisplayData"
  nzTableLayout="fixed"
>
  <thead>
    <tr>
      <th
        *ngFor="let column of header; index as i; first as isFirst"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        <ng-container *ngIf="isFirst; else notFirst" nzCustomFilter>
          {{ column.title }}
          <nz-filter-trigger
            [(nzVisible)]="visible"
            [nzActive]="searchValue.length > 0"
            [nzDropdownMenu]="menu"
          >
            <span nz-icon nzType="search"></span>
          </nz-filter-trigger>
        </ng-container>
        <ng-template #notFirst>
          {{ column.title }}
        </ng-template>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data; index as i">
      <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
        <ng-container
          *ngFor="let value of getObjectValues(data); first as first"
        >
          <td *ngIf="value != undefined && !first" class="capitalize">
            {{ value }}
          </td>
        </ng-container>
      </ng-container>
      <td>
        <a (click)="startEdit(data.id)">Edit</a>

        <a class="ml-3" (click)="delete(data.id)">Delete</a>
      </td>

      <ng-template #editTemplate>
        <ng-container
          *ngFor="let column of getObjectKey(data); index as i; first as first"
        >
          <ng-container *ngIf="!first">
            <td>
              <input
                type="text"
                nz-input
                [(ngModel)]="editCache[data.id].data[column]"
                [disabled]="!isEditable(column)"
              />
            </td>
          </ng-container>
        </ng-container>

        <td>
          <a (click)="saveEdit(data.id)" class="save">Save</a>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Sure to cancel?"
            (nzOnConfirm)="cancelEdit(data.id)"
            >Cancel</a
          >
        </td>
      </ng-template>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search name"
        [(ngModel)]="searchValue"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search()"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
