<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th *ngFor="let data of headerData; index as i; first as isFirst">
        <ng-container *ngIf="isFirst; else notFirst" nzCustomFilter>
          {{ headerData.at(0) }}
          <nz-filter-trigger
            [(nzVisible)]="visible"
            [nzActive]="searchValue.length > 0"
            [nzDropdownMenu]="menu"
          >
            <span nz-icon nzType="search"></span>
          </nz-filter-trigger>
        </ng-container>
        <ng-template #notFirst>
          {{ data }}
        </ng-template>
      </th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data; index as i">
      <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
        <ng-container
          *ngFor="let value of getObjectValues(data); let first = first"
        >
          <td *ngIf="!first">
            {{ value }}
          </td>
        </ng-container>
        <!-- <td>{{ data.Provider }}</td>
        <td>{{ data.Client }}</td>
        <td>{{ data.Coverage }}</td>
        <td>{{ data.Premium }}</td>
        <td>{{ data.Commision }}</td>
        <td>{{ data.Start_date }}</td> -->
        <td><a (click)="startEdit(data.id)">Edit</a></td>
      </ng-container>
      <ng-template #editTemplate>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.Provider"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.Client"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.Coverage"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.Premium"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.Commision"
          />
        </td>
        <td>
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.id].data.StartDate"
          />
        </td>
        <td>
          <a (click)="saveEdit(data.id)" class="save">Save</a>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Sure to cancel?"
            (nzOnConfirm)="cancelEdit(data.id)"
            >Cancel</a
          >
        </td>
      </ng-template>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="Search name"
        [(ngModel)]="searchValue"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search()"
        class="search-button"
      >
        Search
      </button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
