<div class="flex flex-col gap-9">
  <app-header class="sticky top-0"></app-header>

  <div class="flex flex-col justify-center gap-y-5 items-start mx-6">
    <div class="flex flex-col">
      <div class="flex justify-start items-baseline gap-5">
        <p class="text-7xl md:text-9xl font-semibold font-SF">Insurance</p>
        <div class="hidden lg:flex items-center gap-2">
          <img
            src="../../../assets/images/photo.png"
            alt=""
            class="object-contain w-[250px] h-[70px]"
          />
          <div class="flex items-start h-[60px]">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 68.59 67.9"
              style="width: 20px"
              xml:space="preserve"
            >
              <g id="Layer_2">
                <path
                  style="fill: #d5236b; width: 20px; height: 20px"
                  d="M34.251,67.9c0-18.748,15.585-33.95,34.339-33.95l0,0C49.846,33.95,34.251,18.745,34.251,0l0,0
		c0,18.745-15.504,33.954-34.251,33.954C18.748,33.954,34.251,49.152,34.251,67.9z"
                ></path>
              </g>
              <g id="Layer_1"></g>
            </svg>

            <svg
              class="self-end"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 100.353 100.353"
              style="enable-background: new 0 0 100.353 100.353; width: 20px"
              xml:space="preserve"
            >
              <path
                style="fill: #d5236b"
                d="M98.544,48.543c-25.998,0-47.15-20.904-47.15-46.599c0-0.804-0.652-1.456-1.456-1.456
	s-1.456,0.652-1.456,1.456c0,25.698-21.096,46.605-47.025,46.605c-0.804,0-1.456,0.652-1.456,1.456c0,0.805,0.652,1.457,1.456,1.457
	c25.929,0,47.025,20.901,47.025,46.592c0,0.804,0.652,1.457,1.456,1.457s1.456-0.652,1.456-1.457
	c0-25.694,21.152-46.599,47.15-46.599c0.804,0,1.456-0.652,1.456-1.456C100,49.195,99.348,48.543,98.544,48.543z M49.94,86.169
	c-4.428-17.748-18.541-31.752-36.436-36.163c17.895-4.412,32.008-18.421,36.436-36.174C54.379,31.582,68.528,45.588,86.467,50
	C68.528,54.411,54.378,68.419,49.94,86.169z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div
        class="text-7xl md:text-9xl font-semibold font-SF flex lg:gap-5 flex-col lg:flex-row text-wrap"
      >
        <p class="text-nowrap flex gap-1">For all</p>
        <span class="flex gap-1 items-baseline">
          occasions
          <span
            ><svg
              version="1.1"
              id="Layer_1_1_"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 16 16"
              xml:space="preserve"
              style="fill: #d5236b; width: 14px"
            >
              <circle cx="8" cy="8" r="8" style="color: #d5236b"></circle></svg
          ></span>
        </span>
      </div>
    </div>
    <div class="flex items-center gap-4 font-SF md:mt-[-30px]">
      <button
        type="button"
        class="text-xs text-nowrap px-3 py-[8px] font-medium rounded-full bg-rose text-cultured"
      >
        GET A QUOTE
      </button>
      <button
        type="button"
        class="text-md text-nowrap px-4 py-[6px] font-medium rounded-full border-2 border-rose text-rose"
      >
        Register Now
      </button>

      <div class="hidden md:flex items-center">
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="60px"
          height="60px"
          viewBox="0 0 92 92"
          enable-background="new 0 0 92 92"
          xml:space="preserve"
          style="fill: #6b7280"
        >
          <path
            id="XMLID_32_"
            d="M46,53c-1.8,0-3.7-0.8-5-2.1c-1.3-1.3-2-3.1-2-4.9c0-1.8,0.8-3.6,2-5c1.3-1.3,3.1-2,5-2c1.8,0,3.6,0.8,4.9,2
	c1.3,1.3,2.1,3.1,2.1,5c0,1.8-0.8,3.6-2.1,4.9C49.6,52.2,47.8,53,46,53z"
          ></path>
        </svg>

        <svg
          class="mx-[-30px]"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xml:space="preserve"
          fill="#000000"
          stroke="#000000"
          stroke-width="0.00090658"
          width="70vw"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <g>
              <g>
                <rect
                  y="74"
                  style="fill: #6b7280"
                  width="100vw"
                  height="1.9"
                ></rect>
              </g>
            </g>
          </g>
        </svg>
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="60px"
          height="60px"
          viewBox="0 0 92 92"
          enable-background="new 0 0 92 92"
          xml:space="preserve"
          style="fill: #6b7280"
        >
          <path
            id="XMLID_32_"
            d="M46,53c-1.8,0-3.7-0.8-5-2.1c-1.3-1.3-2-3.1-2-4.9c0-1.8,0.8-3.6,2-5c1.3-1.3,3.1-2,5-2c1.8,0,3.6,0.8,4.9,2
	c1.3,1.3,2.1,3.1,2.1,5c0,1.8-0.8,3.6-2.1,4.9C49.6,52.2,47.8,53,46,53z"
          ></path>
        </svg>
      </div>
    </div>
  </div>

  <div class="flex justify-center items-center mx-6">
    <img
      src="../../../assets/images/photo-1.png"
      class="object-contain w-full"
      alt=""
    />
  </div>

  <div
    class="flex gap-5 items-center bg-rose py-10 text-6xl font-SF text-cultured text-nowrap overflow-hidden ml-[-35px]"
  >
    <p>Health</p>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 68.59 67.9"
      xml:space="preserve"
      class="min-w-[40px] max-w-[40px]"
    >
      <g id="Layer_2">
        <path
          style="fill: #ffff; width: 10px; height: 10px"
          d="M34.251,67.9c0-18.748,15.585-33.95,34.339-33.95l0,0C49.846,33.95,34.251,18.745,34.251,0l0,0
		c0,18.745-15.504,33.954-34.251,33.954C18.748,33.954,34.251,49.152,34.251,67.9z"
        ></path>
      </g>
      <g id="Layer_1"></g>
    </svg>

    <p>Insurance</p>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 68.59 67.9"
      style="width: 40px"
      xml:space="preserve"
      class="min-w-[40px] max-w-[40px]"
    >
      <g id="Layer_2">
        <path
          style="fill: #ffff; width: 20px; height: 20px"
          d="M34.251,67.9c0-18.748,15.585-33.95,34.339-33.95l0,0C49.846,33.95,34.251,18.745,34.251,0l0,0
		c0,18.745-15.504,33.954-34.251,33.954C18.748,33.954,34.251,49.152,34.251,67.9z"
        ></path>
      </g>
      <g id="Layer_1"></g>
    </svg>
    <p>Family</p>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 68.59 67.9"
      style="width: 40px"
      xml:space="preserve"
      class="min-w-[40px] max-w-[40px]"
    >
      <g id="Layer_2">
        <path
          style="fill: #ffff; width: 20px; height: 20px"
          d="M34.251,67.9c0-18.748,15.585-33.95,34.339-33.95l0,0C49.846,33.95,34.251,18.745,34.251,0l0,0
		c0,18.745-15.504,33.954-34.251,33.954C18.748,33.954,34.251,49.152,34.251,67.9z"
        ></path>
      </g>
      <g id="Layer_1"></g>
    </svg>
    <p>Health</p>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 68.59 67.9"
      style="width: 40px"
      xml:space="preserve"
      class="min-w-[40px] max-w-[40px]"
    >
      <g id="Layer_2">
        <path
          style="fill: #ffff; width: 20px; height: 20px"
          d="M34.251,67.9c0-18.748,15.585-33.95,34.339-33.95l0,0C49.846,33.95,34.251,18.745,34.251,0l0,0
		c0,18.745-15.504,33.954-34.251,33.954C18.748,33.954,34.251,49.152,34.251,67.9z"
        ></path>
      </g>
      <g id="Layer_1"></g>
    </svg>

    <p>Insurance</p>
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 68.59 67.9"
      style="width: 40px"
      xml:space="preserve"
      class="min-w-[40px] max-w-[40px]"
    >
      <g id="Layer_2">
        <path
          style="fill: #ffff; width: 20px; height: 20px"
          d="M34.251,67.9c0-18.748,15.585-33.95,34.339-33.95l0,0C49.846,33.95,34.251,18.745,34.251,0l0,0
		c0,18.745-15.504,33.954-34.251,33.954C18.748,33.954,34.251,49.152,34.251,67.9z"
        ></path>
      </g>
      <g id="Layer_1"></g>
    </svg>
    <p>Family</p>
  </div>

  <div class="container flex-col">
    <div class="flex justify-between items-start w-full px-10">
      <p class="text-5xl font-SF font-medium">The Advantage of our insurance</p>
      <p class="text-lg font-light font-SF max-w-[500px]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad totam
        molestiae architecto quod, reprehenderit odio tempora? Maiores quae
        aperiam dicta repellat nemo consequuntur nisi animi, quasi totam
        molestiae quod cum?
      </p>
    </div>
    <div class="container font-SF text-3xl">
      <div class="box p-4">
        <div
          class="inital-content text-cultured flex flex-col items-center justify-center gap-7 lg:justify-between !h-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-14 h-14"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
            />
          </svg>

          <p class="vertical-text text-center font-light">Term Insurance</p>
        </div>
        <div
          class="next-content flex !flex-col justify-between gap-3 !h-full p-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="min-w-14 min-h-14 text-rose self-start"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
            />
          </svg>

          <div class="">
            <p class="text-xl font-medium">Unlimted possiblilty</p>
            <p class="text-sm font-medium mt-5">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
              ratione expedita quam exercitationem reiciendis i
            </p>
          </div>
          <img src="https://source.unsplash.com/1000x800" />
        </div>
      </div>
      <div class="box p-4">
        <div
          class="inital-content text-cultured flex flex-col items-center justify-center gap-7 lg:justify-between !h-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-14 h-14"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
            />
          </svg>

          <p class="vertical-text text-center font-light">Term Insurance</p>
        </div>
        <div
          class="next-content flex !flex-col justify-between gap-3 !h-full p-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="min-w-14 min-h-14 text-rose self-start"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
            />
          </svg>

          <div>
            <p class="text-xl font-medium">Unlimted possiblilty</p>
            <p class="text-sm font-medium mt-5">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
              ratione expedita quam exercitationem reiciendis i
            </p>
          </div>
          <img src="https://source.unsplash.com/1000x800" class="h-[300px]" />
        </div>
      </div>
      <div class="box p-4">
        <div
          class="inital-content text-cultured flex flex-col items-center justify-center gap-7 lg:justify-between !h-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-14 h-14"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
            />
          </svg>

          <p class="vertical-text text-center font-light">Term Insurance</p>
        </div>
        <div
          class="next-content flex !flex-col justify-between gap-3 !h-full p-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="min-w-14 min-h-14 text-rose self-start"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
            />
          </svg>

          <div>
            <p class="text-xl font-medium">Unlimted possiblilty</p>
            <p class="text-sm font-medium mt-5">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
              ratione expedita quam exercitationem reiciendis i
            </p>
          </div>
          <img src="https://source.unsplash.com/1000x800" class="h-[300px]" />
        </div>
      </div>
      <div class="box p-4">
        <div
          class="inital-content text-cultured flex flex-col items-center justify-center gap-7 lg:justify-between !h-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-14 h-14"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
            />
          </svg>

          <p class="vertical-text text-center font-light">Term Insurance</p>
        </div>
        <div
          class="next-content flex !flex-col justify-between gap-3 !h-full p-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="min-w-14 min-h-14 text-rose self-start"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
            />
          </svg>

          <div>
            <p class="text-xl font-medium">Unlimted possiblilty</p>
            <p class="text-sm font-medium mt-5">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
              ratione expedita quam exercitationem reiciendis i
            </p>
          </div>
          <img src="https://source.unsplash.com/1000x800" class="h-[300px]" />
        </div>
      </div>
      <div class="box p-4">
        <div
          class="inital-content text-cultured flex flex-col items-center justify-center gap-7 lg:justify-between !h-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-14 h-14"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
            />
          </svg>

          <p class="vertical-text text-center font-light">Term Insurance</p>
        </div>
        <div
          class="next-content flex !flex-col justify-between gap-3 !h-full p-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="min-w-14 min-h-14 text-rose self-start"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
            />
          </svg>

          <div>
            <p class="text-xl font-medium">Unlimted possiblilty</p>
            <p class="text-sm font-medium mt-5">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
              ratione expedita quam exercitationem reiciendis i
            </p>
          </div>
          <img src="https://source.unsplash.com/1000x800" class="h-[300px]" />
        </div>
      </div>
      <div class="box p-4">
        <div
          class="inital-content text-cultured flex flex-col items-center justify-center gap-7 lg:justify-between !h-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-14 h-14"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
            />
          </svg>

          <p class="vertical-text text-center font-light">Term Insurance</p>
        </div>
        <div
          class="next-content flex !flex-col justify-between gap-3 !h-full p-4"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="min-w-14 min-h-14 text-rose self-start"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z"
            />
          </svg>

          <div>
            <p class="text-xl font-medium">Unlimted possiblilty</p>
            <p class="text-sm font-medium mt-5">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
              ratione expedita quam exercitationem reiciendis i
            </p>
          </div>
          <img src="https://source.unsplash.com/1000x800" class="h-[300px]" />
        </div>
      </div>
    </div>
  </div>
</div>

<app-card></app-card>
