<div class="bg-gray-100 min-h-screen pt-[90px]" *ngIf="isLoading">
  <app-header class="sticky top-0 z-20"></app-header>
  <div class="container max-w-[90vw] my-10">
    <app-step [currentStep]="step"></app-step>
  </div>

  <div class="container min-h-screen">
    <div class="flex flex-col space-y-8 justify-center items-center mx-5">
      <div
        class="grid justify-items-stretch items-end grid-flow-row space-y-3 md:grid-flow-col w-full"
      >
        <button class="flex items-center gap-3" routerLink="/all-plans">
          <span
            nz-icon
            nzType="arrow-left"
            nzTheme="outline"
            class="text-md !text-gray-500"
          ></span>
          <p class="text-lg font-SF font-medium text-gray-500">Back</p>
        </button>
        <h1
          class="text-2xl font-SF font-semibold justify-self-center md:justify-self-start md:text-3xl"
        >
          {{ planData.planName }}
        </h1>
      </div>
      <div
        class="md:self-start self-center bg-white flex items-center gap-4 w-full p-5 md:p-8 rounded-lg shadow-lg hover:shadow-2xl"
      >
        <p
          class="flex flex-col mb-2 capitalize flex-nowrap text-nowrap text-xl font-SF font-light text-gray-600"
        >
          sum insured
          <span class="mt-1 font-medium text-green-700"
            >{{ sliderValue }} lakhs</span
          >
        </p>
        <div class="px-6 w-full">
          <input
            type="range"
            [min]="1"
            [max]="maxValue"
            [step]="stepValue"
            (input)="onSliderChange($event)"
            class="bg-gray-300 h-2 w-full rounded-full relative appearance-none cursor-pointer"
          />
        </div>
      </div>
      <div
        class="flex gap-32 w-full md:justify-start justify-center bg-none md:bg-[#fdf4fb5a] md:py-14 md:px-8 shadow-lg rounded-xl"
      >
        <ul class="hidden md:flex flex-col space-y-4">
          <li class="font-SF text-5xl font-light">Feature</li>
          <li class="font-SF text-2xl font-medium">Premium</li>
          <li class="">
            <hr class="h-px mt-20 bg-gray-200 border-0 dark:bg-gray-300" />
          </li>

          <li>
            <ul class="flex flex-col gap-3 text-xl font-SF font-light">
              <li><p>Sum Assured</p></li>
              <li><p>Pre & Post Hospitalisation</p></li>
              <li><p>Recharge Benefit</p></li>
              <li><p>Outpatient Benefit</p></li>
            </ul>
          </li>
        </ul>

        <div
          class="neon-box bg-white flex flex-col space-y-2 border border-black rounded-3xl"
        >
          <p
            class="w-full text-center py-3 px-3 text-white text-xl font-SF bg-pink-400 rounded-t-xl"
          >
            Details
          </p>
          <div class="flex justify-between items-start p-2 md:p-0">
            <ul class="flex md:hidden flex-col space-y-6">
              <li class="font-SF text-lg font-medium">Premium</li>

              <li>
                <ul class="flex flex-col gap-3 text-xl font-SF font-light">
                  <li><p>Sum Assured</p></li>
                  <li>
                    <p class="text-ellipsis overflow-hidden">Hospitalisation</p>
                  </li>
                  <li><p>Recharge</p></li>
                  <li><p>Outpatient</p></li>
                </ul>
              </li>
            </ul>
            <div class="flex flex-col">
              <div>
                <div
                  class="flex flex-col space-y-2 justify-center items-center px-3 lg:w-[250px] flex-grow"
                >
                  <div class="text-center font-SF text-xl font-light">
                    <h6
                      class="font-medium text-lg capitalize flex flex-col text-nowrap"
                    >
                      ₹ {{ premium }} / year
                      <span class="hidden md:block"> for 5 Years</span>
                    </h6>
                  </div>

                  <button
                    class="md:block hidden rounded-lg px-6 py-2 border border-1 border-pink-400 font-SF text-lg text-pink-400"
                    type="submit"
                    [routerLink]="['/payment']"
                    [queryParams]="{
                      id: planData.id,
                      coverage: sliderValue * 100000
                    }"
                  >
                    Choose
                  </button>
                </div>
              </div>

              <div
                class="flex flex-col justify-start items-center space-y-5 md:pb-10"
              >
                <p
                  asp-items="ViewBag.Premium"
                  class="text-green-600 font-semibold text-lg mt-4"
                  id="rangeLabel"
                >
                  {{ sliderValue }} Lakhs
                </p>
                <p>&#10004;</p>
                <p>&times;</p>
                <p>&#10004;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="md:hidden p-5 bg-pink-200 opacity-80 sticky bottom-0 text-center">
  <button
    type="button"
    [routerLink]="['/payment/']"
    [queryParams]="{ id: planData.id, coverage: planData.maxCoverageAmount }"
    class="sm:text-2xl !text-md text-nowrap px-10 py-3 font-medium rounded-lg bg-rose text-cultured"
  >
    Choose
  </button>
</div>
