<div class="container flex flex-col justify-start items-start gap-y-5">
  <div class="">
    <h1 class="text-2xl mb-4">Client Details</h1>
    <ng-container *ngIf="clientData.length > 0">
      <app-table [header]="clientHeader" [tableData]="clientData"></app-table>
    </ng-container>
  </div>
  <div class="">
    <h1 class="text-2xl mb-5">Provider Details</h1>
    <ng-container *ngIf="providerData.length > 0">
      <app-table
        [header]="providerHeader"
        [tableData]="providerData"
      ></app-table>
    </ng-container>
  </div>
  <div class="">
    <h1 class="text-2xl mb-5">Agent Details</h1>
    <ng-container *ngIf="agentData.length > 0">
      <app-table [header]="agentHeader" [tableData]="agentData"></app-table>
    </ng-container>
  </div>
</div>
