<div class="container flex flex-col justify-start items-start gap-y-5">
  <div class="">
    <h1 class="text-2xl mb-4">Client Details</h1>
    <ng-container *ngIf="clientData.length > 0">
      <app-table
        [header]="listOfClientColumn"
        [tableData]="clientData"
        (deletePoliy)="onDeleteClient($event)"
        (UpdatedPoliy)="onUpdateClient($event)"
      ></app-table>
    </ng-container>
  </div>
  <div class="">
    <h1 class="text-2xl mb-4">Provider Details</h1>
    <ng-container *ngIf="providerData.length > 0">
      <app-table
        [header]="listOfProviderColumn"
        [tableData]="providerData"
        (deletePoliy)="onDeleteProvider($event)"
        (UpdatedPoliy)="onUpdateProvider($event)"
      ></app-table>
    </ng-container>
  </div>
  <div class="">
    <h1 class="text-2xl mb-4">Agent Details</h1>
    <ng-container *ngIf="agentData.length > 0">
      <app-table
        [header]="listOfAgentColumn"
        [tableData]="agentData"
        (deletePoliy)="onDeleteAgent($event)"
        (UpdatedPoliy)="onUpdateAgent($event)"
      ></app-table>
    </ng-container>
  </div>
</div>
